<%- include('../partials/head.ejs') %>
    <div class="vertical-center">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <div class="container-xl login-form mx-auto px-2">
            <form id="loginForm" method="post" class="">
                <div class="row py-3">
                    <div class="col">
                        <h3 class="text">Please login into your account</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-5">
                        <div class="textbox-label px-0">
                            <label class="text" for="text loginInput">Username</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="login">
                            <input type="text" placeholder="Login" id="loginInput" class="textbox" name="username">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col px-5">
                        <div class="textbox-label px-0">
                            <label class="text" for="text passwordInput">Password</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="password">
                            <input type="password" placeholder="Password" id="passwordInput" class="textbox"
                                name="password">
                        </div>
                    </div>
                </div>
                <!-- change to toast -->
                <div class="row">
                    <div class="col py-2">
                        <h2 id="message" class="loginMessage"></h2>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col">
                        <button id="btn" type="submit" class="btn-universal">Log in</button>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col">
                        <a href="/auth/register" id="link" class="text forward">Register here</a>
                    </div>
                </div>
            </form>

        </div>

    </div>

    
    <!-- </div>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form id="loginForm" method="post" class="login-form">
            <% if(locals.newly_registered === true) { %>
                <h3>Registration successful!</h3> 
            <% } %> 
            <h3 class="text loginTitle">Please login into your account</h3>
            <div class="textbox-label">
                <label class="text" for="text loginInput">Username</label>
            </div>
            <div class="login">
                <input type="text" placeholder="Login" id="loginInput" class="textbox" name="username">
            </div>
            <div class="textbox-label">
                <label class="text" for="text passwordInput">Password</label>
            </div>
            <div class="password">
                <input type="password" placeholder="Password" id="passwordInput" class="textbox" name="password">
            </div>
            <h2 id="message"></h2>
            <button id="btn" type="submit" class="btn-universal">Log in</button>
            <br></br>
            <a href="/auth/register" id="link" class="text forward">Register here</a>


        </form> -->
    </body>

    </html>

    <script src="../../scripts/form-send-script.js"></script>

    <script>formListener('loginForm', '/auth/login')</script>