<%- include('../partials/head.ejs') %>

    

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form id="loginForm" method="post" class="login-form">
            <h3 class="text loginTitle">Please login into your account</h3>
            <div class="textbox-label">
                <label class="text" for="text loginInput">Username</label>
            </div>
            <div class="login">
                <input type="text" placeholder="Login" id="loginInput" class="textbox" name="username">
            </div>
            <div class="textbox-label">
                <label class="text" for="text passwordInput">Password</label>
            </div>
            <div class="password">
                <input type="password" placeholder="Password" id="passwordInput" class="textbox" name="password">
            </div>
            <h2 id="message"></h2>
            <button id="btn" type="submit">Log in</button>
            <br></br>
            <a href="/auth/register" id="link" class="text forward">Register here</a>


        </form>
    </body>

    </html>

    <script src="../../scripts/login-script.js"></script>