<%- include('../partials/head.ejs') %>


    <body>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form id="registerForm" method="post">
            <h3>Please create your account</h3>
            <label for="loginInput">Username</label>
            <div class="login">
                <input type="text" placeholder="Login" id="loginInput" name="username">
            </div>
            <label for="passwordInput">Password</label>
            <div class="password">
                <input type="password" placeholder="Password" id="passwordInput" name="password">
            </div>
            <label for="repeatPasswordInput">Repeat your password</label>
            <div class="password">
                <input type="password" placeholder="repeatPassword" id="repeatPasswordInput" name="repeatPassword">
            </div>
            <h2 id="message"></h2>
            <button id="btn" type="submit">Sign in</button>

        </form>

    </body>

    <script>
        window.addEventListener("load", () => {
            function sendData() {
                const request = new XMLHttpRequest();
                const formData = new FormData(registerForm);
                console.log(Array.from(formData.entries()));

                var firstPassword = formData.get("passwordInput");
                var repeatedPassword = formData.get("repetPasswordInput");
                if (!firstPassword === repeatedPassword) {
                    document.getElementById("message").innerHTML = "Passwords do not match. Please try again."
                }
                else {
                    request.addEventListener("load", (event) => {
                        const response = JSON.parse(event.target.responseText);
                        console.log(response);
                        if (!response.message) {
                            window.location.href = ("login");
                        }
                        else {
                            document.getElementById("message").innerHTML = response.message;
                        }
                    });

                    request.addEventListener("error", (event) => {
                        document.getElementById("message").innerHTML = "An error occured."
                    });

                    request.open("PUT", "http://localhost:3000/register", true);
                    request.send(formData);
                }
            }
            const registerForm = document.getElementById("registerForm");
            loginForm.addEventListener("submit", (event) => {
                event.preventDefault();
                sendData();
            });
        });
    </script>