<%- include('../partials/head.ejs') %>


    <body>

        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form id="registerForm" method="post">
            <h3>Please create your account</h3>
            <label for="emailInput">E-mail adress</label>
            <div class="email">
                <input type="email" placeholder="E-mail" id="emailInput" name="email">
            </div>
            <label for="loginInput">Username</label>
            <div class="login">
                <input type="text" placeholder="Login" id="loginInput" name="username">
            </div>
            <label for="passwordInput">Password</label>
            <div class="password">
                <input type="password" placeholder="Password" id="passwordInput" name="password">
            </div>
            <label for="repeatPasswordInput">Repeat your password</label>
            <div class="password">
                <input type="password" placeholder="repeatPassword" id="repeatPasswordInput" name="repeatPassword">
            </div>
            <h2 id="message"></h2>
            <button id="btn" type="submit">Sign up</button>

        </form>

    </body>

    <script src="../../scripts/register-script.js"></script>