<%- include('../partials/head.ejs') %>

<div>
    <h2 class="text">Aplication from:</h2>
    <h2 class="text">Username</h2><br>  <!--Username użytkownika-->
    <h2 class="text">For role:</h2>
    <h2 class="text">Role</h2><br>  <!--Rola na jaką chce-->
    <h3 class="text">Content of the application:</h3>
    <p class="text">Tu ma być to co użytkownik wpisuje w textboxa przy aplikacji</p><br>
    <h3 class="text">User statistics:</h3>
    <ul> <!--Dopisać statystyki-->
        <li><p>Ammount of votes:</p></li>
        <li><p>Ammount of created posts:</p></li>
        <li><p>Ammount of approved posts:</p></li>
    </ul>
    <br>
    <button id="approve_application" type="button" class="btn btn-outline-secondary text-light">Approve</button>
    <button id="approve_application" type="button" class="btn btn-outline-secondary text-light">Deny</button>
</div>

</body>

</html>