<form>
    <div class="commentEditor">
    <label for="new-comment" class="text">Type your comment here</label><br>
    <textarea id="new-comment" name="new-comment" 
        placeholder="Write your comment"></textarea><br>
    <button id="add-comment" type="button">Add</button>
    </div>
</form>