<div class="comment">
    <h6 name="author" class="comment_author">
        <%= comment.author.username %>
    </h6>
    <% if(comment.father) { %>
        <h6 name="Respond" class="comment_author">
            <%= comment.father %>
        </h6>
        <% } %>
            <p name="comment_content" class="comment_text">
                <%= comment.content %>
            </p>
            <button id="coment_respond" type="button">Respond</button>
</div>