<div class="comment">
    <h6 name="author" class="comment-author text">
        Author: <%= comment.author.username %>
    </h6>
    <% if(comment.father) { %>
        <h6 name="Respond" class="comment-author text">
            Replying to: <%= comment.father %>
        </h6>
        <% } %>
            <p name="comment_content" class="comment-text text">
                <%= comment.content %>
            </p>
            <button id="coment-reply" type="button">Reply</button>
</div>