<div class="navbar">
    <a href="" ><button>Main Page</button></a>
    <a href="" ><button>Hall Of Fame</button></a>
    <a href="/auth/login" ><button>Log in</button></a>
    <a href="/auth/register"><button>Sign up</button></a>
</div>