<nav class="navbar">
    <a href="/" ><button>Main Page</button></a>
    <a href="/hall_of_fame" ><button>Hall Of Fame</button></a>
    <a href="/waiting_room" ><button>Waiting Room</button></a>
    <a href="/post/create" ><button>Create New Post</button></a>
    <a href=""><button>Apply</button></a>
    <a href=""><button>Administration</button></a>
    <h4 name ="username" class="navbarusername">Tu Username</h4>
</nav>