<%- include('../partials/head.ejs') %>
    <body>
        <h1 name="title"></h1>
        <p name="debunk_desc"></p>
        <div name="debunk_links">
            
        </div>>
        <p name="fake_desc"></p>
    </body>
</html>

