<%- include('../partials/head.ejs') %>
    <body>
        <form method="post" action="./create" enctype="multipart/form-data">
            <input type="file" name="debunk_images" multiple/>
            <input type="submit" />
        </form>
    </body>
</html>