<%- include('../partials/head.ejs') %>
    <body>
        <form method="post" action="./create" enctype="multipart/form-data">
            <h2>Enter post title</h2>
            <div>
                <input type="text" placeholder="Title" class="textbox" name="title">
            </div>
            <!-- Debunk part -->
            <label for="debunk_desc">Add debunk description</label><br>
            <textarea id="debunk_desc" name = "debunk_desc" placeholder="Type debunk part of your post here"></textarea><br>
            <label for="debunk_links">Add links to debunk</label><br>
            <textarea id="debunk_links" name = "debunk_links" placeholder="Type debunk links here. Separate them with enter"></textarea><br>
            <label for="debunk_images">Add debunk images here</label><br>
            <input id="debunk_images" type="file" name="debunk_images" multiple/><br>
            <label for="debunk_iframes">Add iframes to debunk</label><br>
            <textarea id="debunk_iframes" name = "debunk_iframes" placeholder="Type debunk iframes here. Separate them with enter"></textarea><br>
            <!-- Fake part -->
            <label for="fake_desc">Add fake description</label><br>
            <textarea id="fake_desc" name = "fake_desc" placeholder="Type fake part of your post here"></textarea><br>
            <label for="fake_links">Add links to fake</label><br>
            <textarea id="fake_links" name = "fake_links" placeholder="Type fake links here. Separate them with enter."></textarea><br>
            <label for="fake_images">Add fake images here</label><br>
            <input id="fake_images" type="file" name="fake_images" multiple/><br>
            <label for="fake_iframes">Add iframes to fake</label><br>
            <textarea id="fake_iframes" name = "fake_iframes" placeholder="Type fake iframes here. Separate them with enter"></textarea><br>       
            <!-- post button -->     
            <button id="finish" type="submit">Post</button>
        </form>
    </body>
</html>