<%- include('../partials/head.ejs') %>

    
        <div class="page">
            <ul>
                <li>
                    <!--For each wczytujący posty jako postPreview-->

                    <% posts.forEach(function(post){ %>
                        <%- include('../partials/postPreview.ejs', {post: post}); %>
                            <% }); %>
                </li>
            </ul>
            <button id="previousPage" type="button"><</button>
            <p>Current Page</p>
            <button id="nextPage" type="button">></button>
        </div>
    </body>

    </html>
    