<%- include('../partials/head.ejs') %>

<div class="background">
    <div class="shape-apply"></div>
    <div class="shape-apply"></div>
</div>

<div class="vertical-center">
    <div class="container-md application-form ">
        <div class="row">
            <div class="col text-center">
                <h2 class="text">BEZŚCIEMY Application Form</h2><br>
            </div>
        </div>
        <form id='application-form'>
            <div class="row justify-content-center">
                <div class="col-2 text-light">
                    <input type="radio" id="redactor" name="role" value="redactor">
                    <label for="redactor">Redactor</label>
                </div>
                <div class="col-2 text-light">
                    <input type="radio" id="admin" name="role" value="admin" required>
                    <label for="admin">Admin</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="apptext" class="text">Tell us why we should choose you</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea id="apptext" name="apptext" class="text application-textbox"
                    placeholder="Enter the content of your application here" required></textarea>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-3 text-center">
                    <button onclick='sendApplication()' id="sendapp" type="submit" class="btn-universal">Send</button>
                </div>
                <!-- add alert -->
            </div>
        </form>
        <!-- <h1 id="application-message"></h1> -->

    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">

    <div id="applicationToast" class="toast text-bg-transparent" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-bg-secondary">
          <strong class="me-auto">Apply</strong>
          <small>just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p id="application-message"></p>
        </div>
    </div>
</div>
<script>
    const toastTriggerApply = document.getElementById('sendapp')
    const toastLiveApply = document.getElementById('applicationToast')

    if (toastTriggerApply) {
        toastTriggerApply.addEventListener('click', () => {
        const toast = new bootstrap.Toast(toastLiveApply)

        toast.show()
    })
    }
</script>
</body>

</html>
<!-- <div class="applyForm">
    <h2 class="text">BEZŚCIEMY Application Form</h2><br>
    <form>
        <label class="text">Choose position you are applying for:</label><br>
        <input type="radio" id="admin" name="app" value="admin"><label>Admin</label><br>
        <input type="radio" id="redaktor" name="app" value="redaktor"><label>Moderator</label><br>
        <label class="text">Tell us why we should choose you</label><br>
        <textarea id="apptext" name="apptext" class="text desc-textbox"
                placeholder="Enter the content of your application here"></textarea> <br>
            <button onclick='sendApplication()' id="sendapp" type="submit" class="btn-universal">Send</button>
            
        </form>
    </div-->

    <script src="../../scripts/application-send-script.js"></script>