<%- include('../partials/head.ejs') %>
<div class="d-flex justify-content-center">
<div class="container-md apply-list my-3 mx-2 content-align-center">
    <div class="row">
        <div class="col">
            <h2 class="text text-center">List of applicants</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="text">
                <li><a class="application px-2">Janek</a></li>
                <li><a class="application px-2">Ma</a></li>
                <li><a class="application px-2">Duże</a></li>
                <li><a class="application px-2">Czoło</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- <div>
    <h2 class="text">List of applicants</h2>
    <ul>
        <li><a>Janek</a></li>
        <li><a>Ma</a></li>
        <li><a>Duże</a></li>
        <li><a>Czoło</a></li>
    </ul>
</div> -->

</body>

</html>
