<%- include('../partials/head.ejs') %>
    <div>
        <h2 class="text">Welcome  <!-- Your name here--></h2>
        <h4 class="text">Your statistics on our page</h4>
        <ul> <!--Dopisać statystyki-->
            <li>
                <p>Number of votes:</p>
            </li>
            <li>
                <p>Number of created posts:</p>
            </li>
            <li>
                <p>Number of approved posts:</p>
            </li>
        </ul>
    </div>
</body>

</html>
