body {
	background-color: #242323;
}

body {
	height: auto;
	width: auto;
	/* background-image: url('bezsciemy.png');
	background-repeat: repeat-x;
	background-size: egisterForm300px; */
}

.loginTitle {
	text-align: center;
}
/* .login {
	display: block;
	text-align: left;
} */
.text {
	color: white;
	font-family: 'Poppins', sans-serif;
}

.textbox-label {
	text-align: left;
	padding-left: 13px;
}

.login-form {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	max-width: 380px;
}
.register-form {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	max-width: 380px;
	
}
.textbox {
	width: 80%;
	padding: 10px 10px;
	margin: 8px 10px;
	background-color: #797878;
	border: none;
	box-sizing: border-box;
	transition: width 0.4s ease-in-out;
}

.textbox:focus {
	outline: none;
	border: 1px solid white;
	box-shadow: 0 0 3px white;
	
}

button[class="btn-universal"] {
	background-color: white;
	color: black;
	padding: 15px 0;
	border: none;
	cursor: pointer;
	width: 80%;

	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 18px;
	transition: width 0.2s ease-in-out;
}

button:hover[class="btn-universal"]{
	opacity: 0.8;
	width: 82%;
}

.registerLabel {
	display: block;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
}

.shape {
	height: 200px;
	width: 200px;
	position: absolute;
	border-radius: 50%;
}

.shape:first-child {
	background: linear-gradient(#1845ad, #23a2f6);
	left: 55%;
	top: 70%;
}

.shape:last-child {
	background: linear-gradient(to left, #ad4218, #f6f323);
	right: 55%;
	bottom: 60%;
}

#message {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: tomato;
	text-shadow: 0 0 2px rgba(8, 7, 16, 0.6);
}

#link.forward {
	padding-block: 10px;
	text-decoration: none;
	color: rgb(0, 247, 255);
}

#link.forward:hover {
	text-decoration: underline;
}

#logout-btn {
	background-color: white;
	color: black;
	padding: 15px 0;
	border: none;
	cursor: pointer;
	width: 80%;
	margin-top: 40px;
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 18px;
	transition: width 0.2s ease-in-out;
}

@keyframes colorTransition {
	from {
		border: 2px solid black;
	}
	to {
		border: 2px solid rgba(255, 255, 255, 0.212);
	}
}

.title {
}

.view {
	display: flex;
}

.posted-by {
	font-size: 12px;
	font-weight: 100;
}

.postTitle {
	color: white;
}

.post {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	overflow: auto;
	padding: 20px;
}

.debunk_part {
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: border 0.1s ease-in-out;
	margin-bottom: 10px;
}
.debunk_part:hover {
	border: 2px solid rgba(255, 255, 255, 0.212);
}

.debunkTitle {
}

.debunk_desc {
	font-weight: 100;
}

.debunkLinks-list {
	font-weight: 100;
	color: #3366cc;
	font-family: 'Poppins', sans-serif;
}

a:visited [class="ext-link"] {
	color: #3366cc;
}

.debunkImage-list {
	padding-top: 20px;
	padding-bottom: 20px;
}

div.grid-container {
	column-gap: 30px;
	overflow-y: auto;
	white-space: nowrap;
	scrollbar-width: none;
	scroll-behavior: smooth;
}
div.grid-item {
	display: inline-block;
}

.debunkIframe-list {
	text-align: center;
}
.fake-part {
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: border 0.1s ease-in-out;
}

.fake-part:hover {
	border: 2px solid rgba(255, 255, 255, 0.212);
}
.fake-title {
}

.fake-desc {
	font-weight: 100;
}

.fakeImage-list {
	padding-top: 20px;
	padding-bottom: 20px;
}

.fakeIframe-list {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}

.fake {
	margin: 20px;
	text-align: left;
	font-family: 'Poppins', sans-serif;
}
.fakeTitle {
	margin: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ext-link[href^='http'] {
	background: url('icons8-external-link-30.png') no-repeat 100% 0;
	background-size: 20px;
	padding-right: 20px;
}
.ext-link-icon {
	background: url('icons8-external-link-30.png') no-repeat 100% 0;
	background-size: 20px;

}

img.content-image {
	height: 360px;
	width: auto;
	padding-right: 20px;
}

.creator-sizing {
	max-width: 70%;
	position: relative;
	left: 30%;
	max-width: 800px;
}

.create-header {
	border-style: none none solid none;
	border-width: 1px;
	margin-top: 40px;
}

.creator {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 30px;
	position: absolute;
	width: 40%;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	overflow: auto;
}

.create-textbox {
	width: 100%;
	text-align: left;
	position: relative;
	height: 40px;
	font-weight: 200;
	font-size: 20px;
	margin-top: -10px;
	background-color: #797878;
	margin-bottom: 10px;
	border: none;
}

.create-textbox:focus {
	outline: none;
	border: 1px solid white;
	box-shadow: 0 0 3px white;
}

.desc-textbox,.comment-textbox {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #797878;
	resize: none;
	width: 100%;
	border: none;
	overflow-y: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
	height: 40px;
	transition: height 0.4s ease-in-out;
}

.desc-textbox:focus {
	height: 200px;
	outline: none;
	border: 1px solid white;
	box-shadow: 0 0 3px white;
}
.comment-textbox:focus {
	height: 80px;
	outline: none;
	border: 1px solid white;
	box-shadow: 0 0 3px white;
}
input[type='file'] {
	margin-top: 10px;
	margin-bottom: 10px;
}

button[id='finish'] {
	width: 30%;
	margin-left: 35%;
	margin-top: 15px;
}

.vote {
	width: 100px;
	padding: 20px;
	margin-top: 40px;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
}

.accept {
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
}

a[id="downvote"]:hover,[id="upvote"]:hover
{
	background-color: #242323;
}

.comment-background {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	overflow: auto;
	padding: 20px;
}

.comment-text {
	font-weight: 200;
	margin: 5px;
}
.comment-author {
	margin: 0px;
}

button[id='coment-reply'] {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	max-width: 70px;
	height: 40px;
	padding: 0px;

	font-size: 14px;
}

.comment {
	padding-top: 5px;
	padding-left: 10px;
}

.comment:hover {
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
}

/* button[id='upvote'],
[id='downvote'] {
	margin-left: 20px;
	transition: background-color 0.4s;
} */

button[id='upvote']:hover {
	background-color: rgb(0, 182, 0);
}

button[id='downvote']:hover {
	background-color: rgb(255, 50, 50);
}

::placeholder {
	/*god i love front-end...*/
	color: white;
	opacity: 1;
}

::-ms-input-placeholder {
	color: white;
}

.post-preview{
	text-align: left;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	overflow: auto;
	padding: 20px;
	max-width: 800px;
}

a[class="text_title_postTitle"]{
	color: #ffffff;
	text-decoration: none;
	font-size: 40px;
}
a[class="text_title_postTitle"]:hover{
	text-decoration: underline;
}

.vertical-center {
	min-height: 100%;
	min-height: 90vh;
  
	display: flex;
	align-items: center;
  }

.text-shadow{
	text-shadow:2px 2px 8px #646161;
}

.text-truncate-container{
	-webkit-line-clamp: 3;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.downvote-arrow{
	border: 2px solid #ffffff;
	border-radius: 5px;
}

.upvote-arrow{
	border: 2px solid #ffffff;
	border-radius: 5px;
}

.application-form {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	overflow: auto;
	padding: 20px;
	max-width: 800px;
}

input[type=radio] {
	accent-color: rgb(0, 153, 255);
}

.application-textbox{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #797878;
	resize: none;
	width: 100%;
	border: none;
	overflow-y: auto;
	scroll-behavior: smooth;
	scrollbar-width: none;
	height: 200px;
	transition: height 0.4s ease-in-out;
}

.application-textbox:focus {
	height: 240px;
	outline: none;
	border: 1px solid white;
	box-shadow: 0 0 3px white;
}

.shape-apply {
	height: 200px;
	width: 200px;
	position: absolute;
	border-radius: 50%;
}

.shape-apply:first-child {
	background: linear-gradient(#1845ad, #23a2f6);
	left: 65%;
	top: 65%;
}

.shape-apply:last-child {
	background: linear-gradient(to left, #ad4218, #f6f323);
	right: 65%;
	bottom: 65%;
}

.apply-list {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	overflow: auto;
	padding: 20px;
	max-width: 800px;

}

.application{
	font-size: 25px;
	text-decoration: none;
	color: #ffffff;
}

.application:hover{
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(8, 7, 16, 0.6);
}

.review {
	text-align: left;
	background-color: rgba(255, 255, 255, 0.13);
	backdrop-filter: blur(10px);
	border: none;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	overflow: auto;
	padding: 20px;
	max-width: 800px;

}

.accordion {
	--bs-accordion-btn-color: ghostwhite;
	--bs-accordion-btn-bg: rgba(255, 255, 255, 0);
	--bs-accordion-active-color: black;
	--bs-accordion-active-bg: White;
}

.arrow-highlited {
	background-color: rgba(255, 255, 255, 0.5)
}