<%- include('../partials/head.ejs') %>

    <body>
        <div>
            <h1>Welcome to bezsciemy protected page!</h1>
        </div>
        <button id="logout-btn">Logout</button>
    </body>

    </html>

    <script src="../../scripts/logout-script.js"></script>